


input[type="radio"], input[type="checkbox"] {
  appearance: none;
  
  width: 20px;  height: 20px;
  background-color: var(--bread-dark);
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

input[type="radio"]:checked, input[type="checkbox"]:checked {
  background-color: var(--green-light);
}

label{
  margin-bottom: 10px;
  font-family: 'Asap';
  font-size: var(--text-default);
  color: var(--gray);
  display: flex; 
}





#detail{
    position: absolute; top: 0; left: 0; z-index: 200;
    background-color: var(--red);
    width: 100vw; height: 100vh;

  
    & .detail{
      position: relative;
      width: 100%; height: 100%; margin-top: 50vh; padding-bottom: 10vh;
      background-color: var(--bread);
      border-radius: 40px 40px 0 0;
      z-index: 1000;
      display: flex; flex-direction: column; align-items: center;
    }

    & .logo{
      top:4vw;
      right: 7vw;
      position: fixed;
      width: 70px;
      z-index: 20;

      & svg{
        fill: var(--bread);
        cursor: pointer;
        outline: none;
      }

      & svg:hover { 
        transform: scale(1.1); transition: transform 500ms ease-in-out;
      }

      & svg:focus {
        outline: none;
    }

    }

    & img{
      position: fixed;
      top: 5%;
      left: 50%; transform: translateX(-50%);
      width: 90%;
      z-index: 10;
    }
}

.detail-close{
    position: fixed; top:2vh; left: 3vh;
    width: 35px; height: 35px;
    border-radius: 50%;
    display: flex;
    flex-direction: column; justify-content: center; align-items: center;
    z-index: 1500;
    cursor: pointer;
}

.detail-close{

    color: var(--red);
    font-weight: 500;
    font-size: var(--text-L);
}


#add{
  position: fixed; bottom: 0%;
  z-index: 2000;
  width: 100vw;
  background: linear-gradient( to bottom, #f4e6ce00, var(--bread)30%);
  display: flex; justify-content: center;
  padding: 20px 0;

  & button{
    padding: 10px 20px;
    border-radius: 100px;
    font-size: var(--text-M);
    color: var(--bread);
    background-color: var(--red);
  }
}

.information{
  width: 80%; margin-top: 50px;
  display: flex; justify-content: space-between; align-items: center;

  height: fit-content;
  font-family: 'Lilita';

  & .name{
    font-size: var(--text-L);
    text-transform: uppercase;
    color: var(--red);
  }

  & .price{
    font-size: var(--text-M);
    color: var(--bread-darker);
  }
}

#detail .description, .zutaten, .bread{
  width: 80%; margin-top: 30px; margin-left: 0;
  font-family: 'Lilita';
  font-size: var(--text-M);
  color: var(--bread-darker);
  text-transform: uppercase;
}


.description-text{
  width: 80%; margin-top: 30px; margin-left: 0;
  font-family: 'Asap';
  font-size: var(--text-default);
  line-height: 1.75;
  color: var(--gray);
}

.bread-list{
  display: flex; flex-direction: column;
  width: 80%; margin-top: 30px;
}
