*{
  margin: 0; padding: 0;
}
body{
  background-color: var(--bread);
  font-family: 'Asap';
}

button{ cursor: pointer; border: none;}



/* HEADER   HEADER   HEADER   HEADER   HEADER   HEADER   HEADER */

header {
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.container_header {
  position: relative; z-index: 100;
  width: 86%; margin: 4vw 7vw 0 7vw;
  display: flex; justify-content: space-between; align-items: center;
  color: var(--bread);

  & .container_logo{

    & .logo-header{ width: 9vh; height: 9vh;}
    & .logo-header svg{ fill: var(--red)}
  
    & .logo-header:hover { transform: scale(1.1); transition: transform 500ms ease-in-out;}
  
  }

  & h1{
    margin-top: 1rem; margin-bottom: 1rem;
    font-size: 2.5rem; font-family: 'Lilita'; text-transform: uppercase;
    color: var(--green);
  }
}


.container_search{
  margin: 7vh 0 0 7vw;
  width: 86vw;
  display: flex; justify-content: center;

  & input{
    width: 100%; height: 40px; border-radius: 60px!important;
    border: none; font-size: 14px;
    background-color: var(--bread-dark);
    color: var(--grey); padding-left: 5vw;
    font-size: var(--text-L);
  }

  & input::placeholder{
    color: var(--grey);
    font-size: var(--text-default);
  }
}

.container_category{
  margin: 5vh 0 0 0; padding-bottom: 3px;
  overflow: auto; white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;

  & button{
    background-color: var(--bread-dark); color: var(--grey);
    padding: 10px 20px; border-radius: 50px;
    font-size: var(--text-S);
    margin-right: 10px;
  } 

  .clicked{
    background-color: var(--red); color: var(--bread);
  }

  .clicked-new{
    animation: clicked-color 1s forwards;
    color: var(--bread);
  }

  .clicked-veggie{
    animation: clicked-veggie 1s forwards!important;
    color: var(--bread);
  }

  .alle{margin-left: 7vw;}
}

@keyframes clicked-color {
  0% {background-color: var(--bread-dark); transform: scale(1);}
  20% {transform: scale(1.07);}
  100% {background-color: var(--red); transform: scale(1);}
}

@keyframes clicked-veggie {
  0% {background-color: var(--bread-dark); transform: scale(1);}
  20% {transform: scale(1.07);}
  100% {background-color: var(--green); transform: scale(1);}
}

.container_category::-webkit-scrollbar {
  display: none;
}


/* HEADER   HEADER   HEADER   HEADER   HEADER   HEADER   HEADER */


/* WERBUNG   WERBUNG   WERBUNG   WERBUNG   WERBUNG   WERBUNG   WERBUNG */


#werbung{
  margin-top: 4vh;
  width: 100vw; height: 40vw;
  display: flex; justify-content: center;

  & .container-werbung{
    width: 86%; height: 100%;
    background-color: var(--bread-dark);
    border-radius: 30px;
    overflow: hidden;
    position: relative;

  }

  & .layer1{
    position: absolute;
    z-index: 3;
    width: 100%; height: 100%;
  }

  & .layer2{
    position: absolute;
    z-index: 1;
  }

  & svg{
    fill: var(--bread);
    width: 10%; height: 10%;
    margin: 15px 0 0 15px;
  }

  & img{
    width: 86vw;
    position: absolute;
    object-fit: cover;
    filter: brightness(0.5);
    animation: to-bottom 10s forwards;
  }


  & .text{
    position: absolute; top: 0; left: 0;
    width: calc(100% - 15px); height: calc(100% - 15px);
    display: flex; flex-direction: column; align-items: end; justify-content: end;
  }

  & p{
    color: var(--bread);
    font-family: 'Lilita';
  }

  & .text1{ font-size: var(--text-L);}

  & .text2{ font-size: var(--text-default); font-weight: 300;}
}

@keyframes to-bottom {
  0% {
    transform: translateY(-40%); /* Começa no topo */
  }
  100% {
    transform: translateY(-50%); /* Move para baixo até sair da tela */
  }
}



/* WERBUNG   WERBUNG   WERBUNG   WERBUNG   WERBUNG   WERBUNG   WERBUNG */


/* POPULAR  POPULAR  POPULAR  POPULAR  POPULAR  POPULAR  POPULAR  POPULAR*/

#popular{
  margin: 4vh 0 0 0;
  display: flex; justify-content: center;

}
.grid-popular{
  height: 40vh;
  overflow: hidden;

  & .titel{ color: var(--red); margin-left: 7vw;}

  & .container{
    overflow-x: auto; white-space: nowrap;
    margin: 2vh 0 0 0;
    width: 100%; height: 100%;
    display: flex;

    & .first-burger{
      margin-left: 7vw;
    }

    & .product-popular{

      max-width: 20vh; height: 50%; border-radius: 15px;
      background-color: var(--bread-dark);
      margin-right: 15px; padding: 15px;

      & img{
        width: 16vh; 
      }

      & .name{ font-size: var(--text-S);}
      & .price{ font-size: var(--text-default);
        font-family: 'Lilita'; color: var(--red);}
    }


  }
  
}


/* POPULAR  POPULAR  POPULAR  POPULAR  POPULAR  POPULAR  POPULAR  POPULAR*/


/* BEEF   BEEF   BEEF   BEEF   BEEF   BEEF   BEEF   BEEF   BEEF */


.grid{
  display: grid; grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem; margin: 4vh auto 7vh auto; padding: 0 1rem;
  width: 86vw;

  & img{
    width: 5rem; height: 5rem;
    border-radius: 10px;
    object-fit: cover;
  }

  & img:hover {
    transform: scale(1.1) rotate(-2deg); transition: transform 300ms ease-in-out;
  }
}

.burger, .drink{
  display: flex;
  gap: 20px;
}

.burger{
  background-color: var(--bread-dark);
  padding: 20px; border-radius: 20px;

  & .text{ width: 100%;}
    & .name-product{ font-size: var(--text-default); font-weight: 580; text-transform: uppercase;}

    & .description{ font-size: var(--text-S); margin-top: 5px;}

    & .container_buy{ display: flex; justify-content: space-between; margin-top: 20px; width: 100%;
  
      & .price{ font-weight: 580; font-size: var(--text-default); padding: 0px;
      }
  
      & .button_buy{
        background-color: var(--grey);
        border: none; padding: 0px 15px; border-radius: 7px;
      }
  
      & .button_buy:hover {
        transform: scale(1.15);
        transition: transform 300ms ease-in-out;
        animation: button_buy 1s forwards;
        box-shadow: 0px 0px 13px rgba(16, 59, 17, 0.3); 
        overflow: visible;
      }
    }
}


  .grid i, #modal-product i{ color: var(--bread); font-size: 15px;}

      @keyframes button_buy {
        0% {
          background-color: var(--grey);
          
        }
        100% {
          background-color: var(--green);

        }
    }
  

/* BEEF   BEEF   BEEF   BEEF   BEEF   BEEF   BEEF   BEEF   BEEF */


/* VEGGIE   VEGGIE   VEGGIE   VEGGIE   VEGGIE   VEGGIE   VEGGIE */

.burger-veggie{
  background-color: var(--green-light)!important;
}
  

/* VEGGIE   VEGGIE   VEGGIE   VEGGIE   VEGGIE   VEGGIE   VEGGIE */

/* DRINK   DRINK   DRINK   DRINK   DRINK   DRINK   DRINK   DRINK*/

.drink-title{ text-align: left; padding: 0 1rem;}
.drink-container{ width: 100%;}

.name-product span{ text-transform: lowercase;}

.grid{
  margin-bottom: 4rem;
}


/* DRINK   DRINK   DRINK   DRINK   DRINK   DRINK   DRINK   DRINK*/


/* FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER*/

footer{
  position: fixed; bottom: -1px; z-index: 100;
  left: 50%; transform: translateX(-50%);
  width: 100vw; 
  background-color: var(--red);
  padding: 0.6rem 0; border-radius: 15px 15px 0 0;
  display: flex; justify-content: center;
}

footer i{
  color: var(--bread); font-size: 15px;
}

footer button{
  border: none;
  background-color: transparent;
  color: var(--bread); font-size: 15px; font-weight: 500;
}

/* FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER*/

/* MODAL   MODAL   MODAL   MODAL   MODAL   MODAL   MODAL   MODAL*/

#modal, #modal-product{
  position: fixed; top: 0; left: 0; z-index: 1100;
  display: flex; flex-direction: column; justify-content: center; align-items: center;
  width: 100vw; height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.container-modal{
  background-color: var(--bread);
  width: 80vw;
  border-radius: 30px;
  padding: 20px;
  overflow: hidden;
}

#modal h3{
  margin-top: 2rem; text-align: center; font-size: 25px;
  color: var(--red);
}

#cart-items{
  display: flex; flex-direction: column; justify-content: space-between; margin-bottom: 2rem;
}

.bold{ font-weight: 590;}

#cart-total{ font-weight: 400;}

.adresse{ margin: 1rem 0 0.5rem 0;}

#adresse{
  border: none; font-size: 14px; border-radius: 10px;
  background-color: rgb(238, 217, 188); padding: 3px 10px;
  margin-left: -1px;
}

#adresse::placeholder{
  color: var(--grey);
}

.btn-warn{
  border: solid 1.5px var(--red)!important;
}

#adresse-warn{
  color: var(--red); font-size: 14px;
}

.hidden{
  display: none!important;
}

.container-btn{
  display: flex; justify-content: space-between; width: 100%;
  margin-top: 3rem; margin-bottom: 0.5rem;
}

#checkout-modal-btn, #close-modal-btn{
  padding: 5px 8px; font-size: 14px; border-radius: 8px;
}

#close-modal-btn{ background-color: var(--red); color: white;}

#close-modal-btn:hover {
  transform: scale(1.05);
  transition: transform 300ms ease-in-out;
  box-shadow: 0px 0px 13px rgba(110, 33, 33, 0.5); 
  overflow: visible;
}

#checkout-modal-btn{ background-color: var(--green); color: white;}

#checkout-modal-btn:hover {
  transform: scale(1.05);
  transition: transform 300ms ease-in-out;
  box-shadow: 0px 0px 13px rgba(16, 59, 17, 0.3); 
  overflow: visible;
}

.container-item{
  display: flex; justify-content: space-between; margin-bottom: 0.5rem;
  width: 100%;
}

.container-item p{ margin: 10px 0; font-size: 15px;}

.container-item .name{ font-size: 17px; font-weight: 580;}

.container-item button{
  background-color: transparent;
  font-size: 15px;
  color: black;
}
.container-item button:hover {
  color: var(--red);
  font-size: 16px;
  margin-right: -2px;
}
/* MODAL   MODAL   MODAL   MODAL   MODAL   MODAL   MODAL   MODAL*/

/* PRODUCT  PRODUCT  PRODUCT  PRODUCT  PRODUCT  PRODUCT  PRODUCT*/

#modal-product .cover{
  height: 40%; width: calc(100% + 40px);
  margin-left: -20px; margin-top: -20px;
  background-color: var(--red);
  overflow: hidden;
}

#modal-product .container-modal{
  height: 60vh;
  position: relative;
}

#modal-product img{
  width: 100%;
  height: auto;
  object-fit: cover;
  transform: translateY(-30%);
}

#modal-product h3{
  color: var(--red); font-size: 30px; text-transform: uppercase;
  margin-top: 10px;
}

#modal-product .description{
  margin-top: 30px; font-size: 15px;
}

#modal-product .price{
  margin-top: 20px;
}

#modal-product .btn {
  position: absolute;
  left: 50%; transform: translateX(-50%);
  bottom: 3%;
  width: calc(100% - 40px);
  display: flex; justify-content: space-between;

}

#modal-product .btn button{
  border-radius: 15px!important
}

#modal-product .btn i{
  font-size: 35px!important; padding: 5px 8px;
}



/* PRODUCT  PRODUCT  PRODUCT  PRODUCT  PRODUCT  PRODUCT  PRODUCT*/