*{
  margin: 0; padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--bread);
  font-family: 'Asap';
}

button{ cursor: pointer; border: none;}



/* HEADER   HEADER   HEADER   HEADER   HEADER   HEADER   HEADER */

header {
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.container_header {
  position: relative; z-index: 100;
  width: 86%; margin: 4vw 7vw 0 7vw;
  display: flex; justify-content: space-between; align-items: center;
  color: var(--bread);

  & .container_logo{

    & .logo-header{
      top: 0px; right: 0px;
      position: absolute;
      width: 70px;
      z-index: 20;}
    & .logo-header svg{
      fill: var(--red);
      cursor: pointer;
      outline: none;}
  
    & .logo-header:hover { transform: scale(1.1); transition: transform 500ms ease-in-out;}
  
  }

  & h1{
    margin-top: 1rem; margin-bottom: 1rem;
    font-size: 2.5rem; font-family: 'Lilita'; text-transform: uppercase;
    color: var(--green);
  }
}


.container_search{
  margin: 7vh 0 0 7vw;
  width: 86vw;
  display: flex; justify-content: center;

  & input{
    width: 100%; height: 40px; border-radius: 60px!important;
    border: none; font-size: 14px;
    background-color: var(--bread-dark);
    color: var(--grey); padding-left: 5vw;
    font-size: var(--text-L);
  }

  & input::placeholder{
    color: var(--grey);
    font-size: var(--text-default);
  }
}

.container_category{
  margin: 5vh 0 0 0; padding-bottom: 3px;
  overflow: auto; white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;

  & button{
    background-color: var(--bread-dark); color: var(--grey);
    padding: 10px 20px; border-radius: 50px;
    font-size: var(--text-S);
    margin-right: 10px;
  } 

  .clicked{
    background-color: var(--red); color: var(--bread);
  }

  .clicked-new{
    animation: clicked-color 1s forwards;
    color: var(--bread);
  }

  .clicked-veggie{
    animation: clicked-veggie 1s forwards!important;
    color: var(--bread);
  }

  .alle{margin-left: 7vw;}
}

@keyframes clicked-color {
  0% {background-color: var(--bread-dark); transform: scale(1);}
  20% {transform: scale(1.07);}
  100% {background-color: var(--red); transform: scale(1);}
}

@keyframes clicked-veggie {
  0% {background-color: var(--bread-dark); transform: scale(1);}
  20% {transform: scale(1.07);}
  100% {background-color: var(--green); transform: scale(1);}
}

.container_category::-webkit-scrollbar {
  display: none;
}


/* HEADER   HEADER   HEADER   HEADER   HEADER   HEADER   HEADER */

.button_buy{
  background-color: var(--bread-dark);
  border: none; width: 20px; height: 20px; border-radius: 100px;
  color: var(--bread-dark);
  display: flex; justify-content: center; align-items: center;

  & i{
    color: var(--green);
    font-size: var(--text-L);
  }
}


/* WERBUNG   WERBUNG   WERBUNG   WERBUNG   WERBUNG   WERBUNG   WERBUNG */


#werbung{
  margin-top: 4vh;
  width: 100vw; height: 40vw;
  display: flex; justify-content: center;

  & .container-werbung{
    width: 86%; height: 100%;
    background-color: var(--bread-dark);
    border-radius: 30px;
    overflow: hidden;
    position: relative;

  }

  & .layer1{
    position: absolute;
    z-index: 3;
    width: 100%; height: 100%;
  }

  & .layer2{
    position: absolute;
    z-index: 1;
  }

  & svg{
    fill: var(--bread);
    width: 10%; height: 10%;
    margin: 15px 0 0 15px;
  }

  & img{
    width: 86vw;
    position: absolute;
    object-fit: cover;
    filter: brightness(0.5);
    animation: to-bottom 10s forwards;
  }


  & .text{
    position: absolute; top: 0; left: 0;
    width: calc(100% - 15px); height: calc(100% - 15px);
    display: flex; flex-direction: column; align-items: end; justify-content: end;
  }

  & p{
    color: var(--bread);
    font-family: 'Lilita';
  }

  & .text1{ font-size: var(--text-L);}

  & .text2{ font-size: var(--text-default); font-weight: 300;}
}

@keyframes to-bottom {
  0% {
    transform: translateY(-40%); /* Começa no topo */
  }
  100% {
    transform: translateY(-50%); /* Move para baixo até sair da tela */
  }
}



/* WERBUNG   WERBUNG   WERBUNG   WERBUNG   WERBUNG   WERBUNG   WERBUNG */


/* POPULAR  POPULAR  POPULAR  POPULAR  POPULAR  POPULAR  POPULAR  POPULAR*/

#popular{
  margin: 4vh 0 0 0;
  display: flex; justify-content: center;

}
.grid-popular{
  height: 40vh;
  overflow: hidden;

  & .titel{ color: var(--red); margin-left: 7vw;}

  & .container{
    overflow-x: auto; white-space: nowrap;
    margin: 2vh 0 0 0;
    width: 100%; height: 100%;
    display: flex;

    & .first-burger{
      margin-left: 7vw;
    }

    & .product-popular{

      max-width: 20vh; height: 50%; border-radius: 15px;
      background-color: var(--bread-dark);
      margin-right: 15px; padding: 15px;

      & img{
        width: 16vh; 
      }

      & .name{ font-size: var(--text-S);}
      & .price{ font-size: var(--text-default);
        font-family: 'Lilita'; color: var(--red);}
    }


  }
  
}


/* POPULAR  POPULAR  POPULAR  POPULAR  POPULAR  POPULAR  POPULAR  POPULAR*/


/* BEEF   BEEF   BEEF   BEEF   BEEF   BEEF   BEEF   BEEF   BEEF */


.grid{
  display: grid; grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem; margin: 4vh auto 7vh auto; padding: 0 1rem;
  width: 86vw;

  & img{
    width: 5rem; height: 5rem;
    border-radius: 10px;
    object-fit: cover;
  }

  & img:hover {
    transform: scale(1.1) rotate(-2deg); transition: transform 300ms ease-in-out;
  }
}

.burger, .drink{
  display: flex;
  gap: 20px;
}

.burger{
  background-color: var(--bread-dark);
  padding: 20px; border-radius: 20px;

  & .text{ width: 100%;}
    & .name-product{ font-size: var(--text-default); font-weight: 580; text-transform: uppercase;}

    & .description{ font-size: var(--text-S); margin-top: 5px;}

    & .container_buy{ display: flex; justify-content: space-between; margin-top: 20px; width: 100%;
  
      & .price{ font-weight: 580; font-size: var(--text-default); padding: 0px;
      }
  
      & .button_buy:hover {
        transform: scale(1.15);
        transition: transform 300ms ease-in-out;
        animation: button_buy 1s forwards;
        box-shadow: 0px 0px 13px rgba(16, 59, 17, 0.3); 
        overflow: visible;
      }
    }
}

  

/* BEEF   BEEF   BEEF   BEEF   BEEF   BEEF   BEEF   BEEF   BEEF */


/* VEGGIE   VEGGIE   VEGGIE   VEGGIE   VEGGIE   VEGGIE   VEGGIE */

.burger-veggie{
  background-color: var(--green-light)!important;
}
  

/* VEGGIE   VEGGIE   VEGGIE   VEGGIE   VEGGIE   VEGGIE   VEGGIE */


/* FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER*/

footer{
  position: fixed; bottom: -1px; z-index: 100;
  left: 50%; transform: translateX(-50%);
  width: 100vw; 
  background-color: var(--red);
  padding: 0.6rem 0; border-radius: 15px 15px 0 0;
  display: flex; justify-content: center;

  & i{
    color: var(--bread); font-size: 15px;
  }

  & button{
    border: none;
    background-color: transparent;
    color: var(--bread); font-size: 15px; font-weight: 500;
  }
}

/* FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER*/

.hidden{
  display: none!important;
}